
.header {
  width: 100%;
  &__nav {
    height: 70px;
    position: fixed;
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid #EFEFEF;
    padding-top: 15px;
    &--logo {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 8px;
        span {
          font-size: 1.3rem;
          padding-left: 5px;
          color: #B7B7B7;
          font-weight: bold;
        }
        &:hover {
          background-color: #F0F0F0;
          border-radius: 25px;
        }
        img {
          height: 30px;
        }
      }
    }
    &--search {
      background-color: #EFEFEF;
      border-radius: 5px;
      height: 40px;
      display: flex;
      align-items: center;
      i.material-icons {
        color: #B7B7B7;
        height: 56px;
        font-size: 25px;
        font-weight: bold;
      }
      .input {
        margin-bottom: 0!important;
        color: #555!important;
        border-bottom: none!important;
        font-weight: bold;
        font-size: 1.3rem!important;
        padding: 0 5px!important;
        &:focus {
          border-bottom: none!important;
          box-shadow: none!important;
        }
        &::placeholder {
          color: #555!important;
        }
      }
    }
    &__link {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 40px;
      &--arrow {
        padding: 10px;
        .img {
          width: 25px;
          height: 28px;
          background-image: url("../img/webapp-common.png");
          background-repeat: no-repeat;
          background-size: 1600%;
          background-position: 38% 69%;
        }
        &:hover {
          background-color: #F0F0F0;
          border-radius: 50px;
        }
      }
      &--profile {
        padding: 10px;
        .img {
          width: 25px;
          height: 28px;
          background-image: url("../img/webapp-common.png");
          background-repeat: no-repeat;
          background-size: 1850%;
          background-position: 31% 78%;
        }
        &:hover {
          background-color: #F0F0F0;
          border-radius: 50px;
        }
      }
      &--message {
        padding: 10px;
        .img {
          width: 25px;
          height: 28px;
          background-image: url("../img/webapp-common.png");
          background-repeat: no-repeat;
          background-size: 1900%;
          background-position: 79% 92%;
        }
        &:hover {
          background-color: #F0F0F0;
          border-radius: 50px;
        }
      }
    }
  }
  &__links {
    position: fixed;
    width: 100%;
    margin-top: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    &__container {
      height: 70px;
      display: flex;
      padding: 0 70px!important;
      justify-content: space-between;
      align-items: center;
      &--share {
        padding: 10px;
        width: 45px;
        height: 45px;
        .icon {
          width: 100%;
        }
        &:hover {
          background-color: #F0F0F0;
          border-radius: 50px;
        }
      }
      &--btn {
        button {
          background-color: #BD081C!important;
          border-radius: 5px;
          box-shadow: none!important;
        }
        &:hover {
          border-radius: 5px;
          background-color: #B2081A;

        }
      }

    }

  }
  &__info {

    &--title {
      margin: 0;
    }
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.6);
}
